@import "../css/normalize_style.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: Roboto, sans-serif;
}


.container {
  width: 320px;
  height: 533px;

  margin: 100px auto 0;
  //padding: 8px;
  border: 1px solid black;
  background-color: #535353;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-window {
  &_nonactive {
    display: none;
  }

  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 100%;
    margin-bottom: 8px;

    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  &__settings-btn {
    border: 1px solid black;
    padding: 5px;
  }
  &__exit-btn {
    border: 1px solid black;
    padding: 5px;
  }
  &__messages-wrapper {
    height: 100%;
    width: 100%;

    overflow-y: scroll;
    margin-bottom: 8px;
    border: 1px solid black;
  }
  &__messages {
    width: 100%;
    min-height: 100%;
  }
  &__message-form {
    width: 100%;
  }
}

.messages {
  padding: 8px;

  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
}

.message-item {
  &_my-message {
    align-self: end;
  }

  &_delivered {
    background-color: #E5E5E5;
  }

  font-size: 16px;
  line-height: 19px;

  max-width: 260px;
  min-height: 52px;
  height: auto;
  padding: 8px;
  margin-bottom: 8px;
  overflow-wrap: break-word;


  background-color: #F7F7F7;
  border-radius: 3px;

  display: flex;
  flex-direction: column;

  &__time {
    align-self: end;
  }
}

.message-form {
  display: flex;
  justify-content: space-between;

  &__input {
    font-size: 16px;
    line-height: 18px;

    width: 267px;
    height: 32px;
    padding: 6px;
    border: 1px solid black;

    overflow-wrap: break-word;
    overflow-y: scroll;
    resize: none;
  }
}

.send-btn {
  width: 29px;
  height: 32px;
  border: 1px solid black;

  img {
    width: 100%;
    height: 100%;
  }
}

.close-btn {
  width: 19px;
  height: 19px;

  padding: 2px;
  img {
    width: 100%;
    height: 100%;
  }
}

.settings-window {
  &_nonactive {
    display: none;
  }

  width: 273px;
  height: 319px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 273px;
    height: 50px;
    padding: 15px;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  &__wrapper {
    width: 240px;
  }
  &__settings-list {
    display: flex;
    flex-direction: column;
  }
}

.settings-element {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__input {
    line-height: 19px;

    width: 202px;
    height: 32px;
    padding: 7px;
    border: 1px solid black;
    text-align: center;
  }
  &__confirm-btn {
    height: 32px;
    width: 32px;
    padding: 3px;

    border: 1px solid black;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__btn {
    line-height: 19px;

    width: 202px;
    height: 32px;
    padding: 7px;
    border: 1px solid black;
  }
}

.authorization-window {
  &_nonactive {
    display: none;
  }

  width: 273px;
  height: 319px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 273px;
    height: 50px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  &__wrapper {
    width: 240px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__parameters-list {
    display: flex;
    flex-direction: column;
  }
}

.authorization-parameter {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 100%;
    height: 32px;
    margin-bottom: 7px;
    padding: 7px;
    line-height: 19px;

    border: 1px solid black;
  }
  &__get-code-btn {
    width: 120px;
    height: 32px;
    border: 1px solid black;
  }
}

.confirm-window {
  &_nonactive {
    display: none;
  }

  width: 273px;
  height: 319px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 273px;
    height: 50px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  &__wrapper {
    width: 240px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.code-confirm {
  &__title {
    margin-bottom: 8px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 100%;
    height: 32px;
    margin-bottom: 7px;
    padding: 7px;
    line-height: 19px;

    border: 1px solid black;
  }
  &__get-code-btn {
    width: 120px;
    height: 32px;
    border: 1px solid black;
  }
}

